page-connexion-screen {
  .content {
    overflow: hidden;
    background: linear-gradient(#FEF3F5, #F2F0D1);
    height: 100%;

    .content__appName {
      text-align: center;
      font-family: Nickainley;
      font-size: 35px;
    }
    .form {
      margin-top: 3%;
      .form_item {

        .form__item__label {

        }
        .form__item_input {

        }
      }
      .form__submitButton {

      }
    }

    .content__mouette {

      .content__mouette__img {

      }
    }
  }
}
